nav {
    border-bottom: 0.2px solid var(--border);
    display: flex;
    align-items: center;
    padding: 15px 0 15px 60px;
}
.container {
    
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: var(--sidebar-w);
    height: calc(100dvh - var(--navbar-h) - 70px);
    border-right: 0.2px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 50px;
} .sidebar svg {
    fill: var(--font-secondary);
    width: 24px;
    height: 24px;
    cursor: pointer;
}