@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  --navbar-h: 50px;
  --sidebar-w: 50px;
}
.col {
  flex-direction: column !important;
} .up {
  height: 80dvh !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
} button {
  font-family: var(--font);
  font-size: 1.2rem;
  color: var(--font-secondary);
  cursor: pointer;
  transition: background-color 0.3s ease;
} button:hover {
  background-color: var(--hover);
} h2 {margin: none; padding: none; font-size: 1.8rem;}
.app {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--font-secondary);
}
.container {
  padding-left: var(--sidebar-w);
  position: relative;
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
a {
display: contents;
color: inherit;
text-decoration: none;
}