@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  --navbar-h: 50px;
  --sidebar-w: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--font-primary);
}
nav {
  width: 100%;
  height: var(--navbar-h);
  border-bottom: 0.2px solid var(--border);
}
.container {
  width: 100%;
  height: calc(100dvh - var(--nav-h));

  display: flex;
  flex-direction: row;
}

.sidebar {
  width: var(--sidebar-w);
  height: calc(100dvh - var(--navbar-h));
  border-right: 0.2px solid var(--border);
} .projects {
  width: 100%;
  display: flex;
  justify-content: center;
} 
.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 0; 
} .projects-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px 0px;
}
.booking-system {
  width: 33%;
  height: 20%;
  border-radius: 10px;
  border: 0.2px solid var(--border);
  background-color: hsl(0, 0%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: 100px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0px 20px;
}
.title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
} 

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
} button {
  font-family: 'Nunito Sans', sans-serif;
  height: 28px;
  background-color: rgb(9, 80, 27);
  border: 1px solid rgb(125, 187, 125);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--button-font);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
} button svg {
  fill: rgb(125, 187, 125);;
  height: 16px;
  width: 16px;
}
button.view  {
  border: none;
  box-sizing: border-box;
  padding: 0;
  display: block;
  width: 28px;
  height: 28px;
  background-color: var(--secondary);
} button.view svg {
  fill: var(--font-primary);
  height: 28px;
  width: 18px;
}