:root {
  --navbar-h: 50px;
  --sidebar-w: 50px;
}
.dark {
  --primary:hsl(0, 0%, 9%);
  --secondary: hsl(0, 0%, 20%);
  --font-primary:hsl(0, 0%, 91%);
  --font-secondary: hsl(0, 0%, 81%);
  --border: hsl(0, 0%, 20%);
}
.light {
  --primary:hsl(0, 0%, 95%);
  --secondary: hsl(0, 0%, 80%);
  --font-primary:hsl(0, 0%, 10%);
  --font-secondary: hsl(0, 0%, 21%);
  --border: hsl(0, 0%, 80%);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--font-primary);
}
nav {
  width: 100%;
  height: var(--navbar-h);
  border-bottom: 0.2px solid var(--border);
}
.container {
  width: 100%;
  height: calc(100dvh - var(--nav-h));

  display: flex;
  flex-direction: row;
}

.sidebar {
  width: var(--sidebar-w);
  height: calc(100dvh - var(--navbar-h));
  border-right: 0.2px solid var(--border);
} .projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
} .content {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 100px 0px;
  gap: 20px;
  flex-wrap: wrap;
} .project {
  background-color: var(--secondary);
  width: 40%;
  height: 20%;

}