@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  --navbar-h: 50px;
  --sidebar-w: 50px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--font-secondary);
}